@model Recipe

<table>
    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <th>Ingredients</th>
        <td>@Model.Ingredients</td>
    </tr>
    <tr>
        <th>Chef</th>
        <td>@Model.Chef</td>
    </tr>
    <tr>
        <th>PreparationTime</th>
        <td>@Model.PreparationTime minutes</td>
    </tr>
</table>